@use './variables' as *;
html {
    .bg-success {
        color: white !important;
    }

    .bg-primary {
        //color: $white !important;
    }

    .bg-secondary {
        //color: $white !important;
    }

    .bg-warning {
        color: $white !important;
    }
}

.border,
.v-divider {
    border-color: rgba(var(--v-border-color), 1) !important;
}
.avatar-border {
    border: 2px solid rgb(var(--v-theme-surface)) !important;
}
.subtext{
    font-size: $font-size-root;
    line-height: 1.75rem;
}


// 👉 Special CSS
.shadow-boxed {
  box-shadow:
    0 -4px 20px rgba(0, 0, 0, 0.02),
    0 4px 20px rgba(0, 0, 0, 0.02) !important;
}

// 📡 SETTINGS CARD
/* Cards */
.settings-card {
  background: white;
  border: 1px solid #f0f0f0;
}

.section-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 20px 24px 5px 24px;
}